.segment {
    padding: 40px 0;
    border-bottom: 1px dotted #d2d2d2;
    &.alt {
        background-color: #fafafa;
    }

    &.info {
        padding: 30px 0;
        background-color: #121921;
        color: #fff;
        text-align: center;
    }

    &.footer {
        background: #121921;
        color: #fff;
    }

    .segment__title {
        font-size: 1.4em;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    &.high {
        padding: 100px 0;
    }

    &.no-border {
        border-bottom: none;
    }

    &.clients {
        background-color: #ecd581;
    }

    &.courses {
        padding: 0;
        height: 450px;
        background: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)), url('/img/homepage2.jpeg');
        background-position: center;
        color: #fff;
    }
}