
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700,900');

// Variables
@import 'variables';

// Segments
@import 'segments';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.slider {
  padding: 4rem 2rem;
  border-bottom: 2px solid #f7b700;
  border-top: 4px solid #f7b700;
  background: #f9f9f9;
  h1 {
    font-size: 2rem;
    margin: 20px 0;
  }
}

.main-services {
  margin: 40px 0;
  .service-lead {
    margin-bottom: 40px;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .service-content {
    font-size: 1.2em;
    color: gray;
    margin-bottom: 110px;
  }
  .service-title {
    margin-bottom: 60px;
    text-align: center;
  }
  .service-box {
    background-size: cover !important;
    &:first-child {
      margin-right: 12px;
    }
    .overlay {
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      height: 240px;
      padding: 30px;
      color: #ffffff;
      .h4 {
        font-weight: bold;
        font-size: 1.8em;
      }
    }
  }
}

.contact-link {
  background: #ffe27a;
  padding: 40px 0;
  .h4 {
    margin: 0;
  }
}

.standarts {
  background: #f2f2f2;
  padding: 80px;
  .title {
    margin-bottom: 40px;
  }

  .standart-box {
    height: 200px;
    background-size: cover;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 0 2px 2px;
    .content {
      background: rgba(255,255,255, 0.9);
      padding: 8px;
      color: #707070;
      .h3 {
        font-weight: bold;
        margin: 0;
      }
      p {
        font-size: 1.4em;
        line-height: 1;
      }
    }
  }
}

.product-certification {
  .container {
    background: #eae8e1;
    padding: 30px;
  }
}

.courses {
  margin: 120px 0;
}
