
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700,900');

// Variables
@import 'variables';

// Segments
@import 'segments';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: #f2f2f2;
  // box-shadow: 0 0.0625rem 0.25rem 0 rgba(61,66,80,.18);
  // width: 1560px;
  // margin: 0 auto;
}

.site-wrap {
  box-shadow: 0 0.0625rem 0.25rem 0 rgba(61,66,80,.18);
  width: 1560px;
  margin: 0 auto;
  background: #fff;
}

.about {
  padding: 60px 0;

  .divider {
    width: 40px;
    border-bottom: 2px solid #3c3c3c;
    display: inline-block;
    margin: 10px 0;
  }
}


// NAVBAR
.logo {
  width: 100px;
}

.slogan {
  padding: 8px 0;
  padding-left: 14px;
  border-left: 1px solid #c7c6c6;
}

.slider {
  // background: url('/img/meeting.jpg');
  background-image: url('/img/meeting.jpg'), linear-gradient(rgba(4, 13, 30, 0.7), rgba(4, 9, 30, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  height: 650px;
  color: #fff;
  display: flex;
  align-items: center;

  p {
    font-size: 1.12em;
  }

  .divider {
    width: 50px;
    border-bottom: 1px solid #fff;
    margin: 22px 0;
  }
}

.services {
  padding: 100px 0;
  border-bottom: 1px solid #d5d5d5;
  .box {
    // background: #6574cd;
    background-image: url('/img/1.jpeg'),linear-gradient(rgba(4,9,30,.8),rgba(4,9,30,.8));
    background-blend-mode: overlay;
    color: #fff;
    padding: 10%;
    .h6 {
      text-transform: uppercase;
    }

    .h2 {
      font-size: 3rem;
      font-weight: 300;
      padding: 15px 0;
    }

    a {
      color: #fff;
    }
  }

  .title {
    margin: 1.8em 0;
  }

  .divider {
    display: inline-block;
    width: 62px;
    border-bottom: 1px solid #000;
    margin: 10px 0;
  }

  .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    color: #949494;
    margin-bottom: 1.4em;
    border: 1px solid #949494;
  }
}


.standards {
  padding: 100px 0;
  .info {
    margin-bottom: 3.4em;
  }

  .content {
    padding: 30px 0;
    // background: #f2f2f2;
  }

  .standard {
    padding: 40px 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 23px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.directives {
  padding: 80px;

  .content {
    padding: 60px 0;
  }
  .col-6 {
    margin-bottom: 40px;
  }

  .col-4 {
    p {
      margin-top: 20px;
      font-size: 1.1em;
      color: #7b7b7b;
    }
  }
  .box {
    padding: 13px 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid #E91E63;
    color: #fff;
    background: darkslateblue;
    height: 100%;
    display: flex;
    align-items: center;
    .h5 {
      margin: 0;
    }
  }
}

.clients {
  background: #fff9c8;
  padding: 30px 0;
  .h2 {
    margin-bottom: 20px;
  }

  .divider {
    width: 40px;
    border-bottom: 2px solid #3c3c3c;
    display: inline-block;
    margin: 10px 0;
  }

  .client-logo {
    margin: 10px 0;
    img { max-width: 70%; }
  }
}

.contact {
  padding: 120px 0;

  .divider {
    width: 40px;
    border-bottom: 2px solid #3c3c3c;
    display: inline-block;
    margin: 10px 0;
  }

  .text-center p {
    font-size: 1.2em;
  }
  .contact-form {
    margin-top: 60px;
    border-top: 1px solid #e9e9e9;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    padding: 50px;
  }
}

// PAGES
.page-header {
  height: 300px;
  background-blend-mode: overlay;
  background-size: cover;

  &.standarti {
    // background-image: url('/img/3.jpeg'), linear-gradient(rgba(4,9,30,.8),rgba(4,9,30,.8));
    background-image: url('/img/3.jpeg'), linear-gradient(rgba(230, 132, 15, 0.8), rgba(181, 82, 19, 0.8));
    background-position-y: center;
  }

  &.markirovka {
    background-image: url('/img/ce-mark.jpg'), linear-gradient(rgba(4,9,30,.4),rgba(4,9,30,.4));
    background-position-y: bottom;
  }
}

.page {
  .content {
    padding: 100px 0;
  }
}