
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700,900');

// Variables
@import 'variables';

// Segments
@import 'segments';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.slider {
  position: relative;
  height: 750px;
  background: url('/img/2.jpeg');

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    color: #fff;
  }

  .h1 {
    text-transform: uppercase;
    font-weight: 200;
  }

  .h3 {
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    margin: 40px 0;
  }
}

.about-us {
  padding: 100px 0;
  .title {
    font-size: 3em;
    font-weight: 600;
  }
  p {
    font-size: 1.18em;
    margin: 1.2em 0;
  }

  a {
    margin-top: 20px;
  }
}

.services {
  padding: 100px 0;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  background-color: #fafafa;

  p {
    font-size: 1.12em;
    margin-top: 1em;
  }

  a {
    font-size: 1.12em;
    font-weight: bold;
    color: black;
  }

  .row {
    padding: 60px 0;
  }
}

.clients {
  padding: 80px 0;
  .client {
    padding: 15px;
  }
}

.references {
  padding: 100px 0;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  background-color: #fafafa;

  .header {
    font-size: 1.125rem;
    padding: 1em 0;
  }

  .reference-box {
    border: 1px #dbdbdb solid;
    padding: 2em;
    &:hover {
      border: 1px #6E8898 solid;
    }
  }
}

.contact-link {
  padding: 100px 0;

  p {
    margin: 30px 0;
  }
}